# 4.5 Practice Exercise - Data Consistency and Checks

In [8]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [11]:
# Importinf data set
path = r'C:\Users\Home\Documents\Inscartbasket analysis'

In [13]:
# Importing products.csv data set
df_prods = pd.read_csv(os.path.join(path, '2) Data', 'Original data', 'products.csv'), index_col = False)

In [14]:
# Importing data set orders_wrangled
df_ords = pd.read_csv(os.path.join(path, '2) Data', 'Prepared data', 'orders_wrangled.csv'), index_col = False)

In [6]:
# Practice data consistency checks

In [15]:
# Create a dataframe,
df_test = pd.DataFrame()

In [16]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [17]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [18]:
# checking dataframe for mixed type column
for col in df_test.columns.tolist():
    weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_test[weird]) > 0:
        print (col)

mix

In [19]:
#converting datatype from numeric to stri
df_test['mix'] = df_test['mix'].astype('str')

In [20]:
# Practise Finding missing values

In [21]:
# Find missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [22]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [23]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [24]:
# Checking the number of rows in product dataframe

In [25]:
df_prods.shape

(49693, 5)

In [26]:
# Creating a new dataframe for non missing value
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [27]:
df_prods_clean.shape

(49677, 5)

In [28]:
# Looking for duplicates in products dataframe
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [29]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [30]:
# creating new dataframe without duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [31]:
df_prods_clean_no_dups.shape

(49672, 5)

In [32]:
# Exporting new dataframe as products_checked
df_prods.to_csv(os.path.join(path, '2) Data','Prepared data', 'products_checked.csv'))

# Exercise 4.5 Data Consistency Checks

Q2) Check df_ords dataframe. Share whether anything about the data looks off or should be investigated further.

In [33]:
# checking frequency of df_ords dataframe
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [34]:
Ans2) Checking frequency table, min and max for days_since_last_order seems weird, min is 0 and max is 3 (days). Also percentile range seems strange too, like 50th percentile of 7 is higher than the max

SyntaxError: unmatched ')' (4137599147.py, line 1)

In [ ]:
Q3) Check df_ords for mixed datatypes

In [35]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [36]:
# checking for mixed data types
for col in df_ords.columns.tolist():
        weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
        if len (df_ords[weird]) > 0:
            print (col)

In [37]:
In df_ords dataframe, there are no mixed data.

SyntaxError: invalid syntax (2256903862.py, line 1)

In [ ]:
Q4) If you find mixed-type data, fix it.

In [ ]:
In df_ords dataframe, there are no columns with mixed data.

In [ ]:
Q5) Run a check for missing values in your df_ords dataframe.

In [38]:
#checking for missing values in df_ords data frame
df_ords.isnull().sum()

Unnamed: 0                    0
order_id                      0
user_id                       0
eval_set                      0
order_number                  0
orders_day_of_week            0
order_hour_of_day             0
days_since_last_order    206209
dtype: int64

In [37]:
# creating a new data frame df_nan for null values of column day_since_prior_order
df_ords_nan = df_ords[df_ords['days_since_last_order'].isnull() == True]

In [40]:
# viewing new data frame df_ords_nan
df_ords_nan

NameError: name 'df_ords_nan' is not defined

In [41]:
# searching the order_number column for missing values for each value in our column. 
df_ords['order_number'].value_counts(dropna = False) # what this tells us is that number of ordering = 1,2,3,4, all have a total of
# 206,209 missing values

order_number
1      206209
2      206209
3      206209
4      206209
5      182223
        ...
96       1592
97       1525
98       1471
99       1421
100      1374
Name: count, Length: 100, dtype: int64

In [ ]:
Ans5)  206209 missing value in days_since_last_order. The total number of user_id is equal to 206209, which is same as missing value. This suggests that for all user_id = 1 have missing values within the column days_since_last_order which relates to the number of orders.

In [ ]:
Q6) Address the missing values using an appropriate method

In [ ]:
Missing value is consitent with the data of first time order. Hence removing data is not required

In [ ]:
Q7) Run a check for duplicate values in your df_ords data

In [42]:
# checking for duplicate values in df_ords data frame
df_ords_dups = df_ords[df_ords.duplicated()]

In [43]:
# viewing duplicates values for df_ords
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_last_order]
Index: []

In [ ]:
Ans7) There are no duplicates in df_ords dataframe

In [ ]:
Q8) Address the duplicates using an appropriate method

In [ ]:
No duplicates

In [ ]:
Q9) Export Data frame df_ords and df_prods

In [44]:
# Export df_prods as products_checked,
df_prods.to_csv(os.path.join(path, '2) Data','Prepared data', 'products_checked.csv'))

In [47]:
#Export df_ords as orders_checked,
df_ords.to_csv(os.path.join(path, '2) Data','Prepared data', 'orders_checked.csv'))